{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<button type="submit">Зареєструватися</button>#}
    {#</div>#}
{#{{ form_end(form) }}#}

<form method="POST" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }}>
    <div class="row col-md-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#mainInformation">
                    Основна інформація
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#contactInformation">
                    Контактна інформація
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#additionInformation">
                    Додаткова інформація
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="mainInformation">
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.username) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>

            </div>

            <div class="tab-pane fade" id="contactInformation">
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.surname) }}
                </div>
            </div>

            <div class="tab-pane fade" id="additionInformation">
                <div class="form-group">
                    {{ form_row(form.phone) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.address) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.description) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.file) }}
                </div>
            </div>
        </div>

        {{ form_widget(form) }}

        <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-success">Зареєструватися</button>
        </div>
    </div>
</form>
