{% extends 'BasarabHandmadeBundle::layout.html.twig' %}

{% block title %}
    Користувач {{ user.name }} {{ user.surname }}
{% endblock %}

{% block content %}
    <div class="col-md-12 row">
        {% if app.user == user %}
            <div class="col-md-12 ">
                <a href="{{ path('basarab_handmade_users_settings') }}" class="pull-right">Редагувати</a>
            </div>
        {% endif %}

        <div class="col-md-4">
            <img src="{{ user.getWebPath | imagine_filter('user_thumb') }}">
        </div>

        <div class="col-md-8">
            <h3>{{ user.name }} {{ user.surname }}</h3>

            <ul class="list-group">
                {% if user.email %}
                    <li class="list-group-item">
                        Email: {{ user.email }}
                    </li>
                {% endif %}

                {% if user.phone %}
                    <li class="list-group-item">
                        Phone: {{ user.phone }}
                    </li>
                {% endif %}

                {% if user.address %}
                    <li class="list-group-item">
                        Address: {{ user.address }}
                    </li>
                {% endif %}
            </ul>

            <p>
                {{ user.description }}
            </p>
        </div>

        <div class="col-md-12 row">
            <div class="col-md-6">
                <h3>Рукоділля:</h3>
                {% for handmade in user.handmades %}
                    <div class="col-md-12">
                        <h4>
                            <a href="{{ path('basarab_handmade_handmades_get', {'slug': handmade.slug}) }}">{{ handmade.name }}</a>
                        </h4>
                        <p>
                            {{ handmade.text | slice(0, 150) }}...
                        </p>
                        <div>
                            {% for tag in handmade.tags|slice(0, 4) %}
                                <a href="{{ path("basarab_handmade_tags_get", {"slug": tag.slug}) }}" class="badge">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div>
                            Автор: <a href="">{{ handmade.author.name }} {{ handmade.author.surname }}</a>
                        </div>
                    </div>
                {% else %}
                    <h3>На даний момент цей користувач не добавив ні одного запису</h3>
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h3>Комментарі:</h3>

                {% for comment in user.comments %}
                    <div class="col-md-12">
                        <h3>{{ comment.author.name }} {{ comment.author.surname }}</h3>
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div>
                {% else %}
                    <h3>На даний момент цей користувач не добавив ні одного запису</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}